.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; 
  flex-direction: column; 
  gap: 10px; 
}

.hidden-on-mobile {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.visible-on-mobile {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hidden-on-mobile {
      margin-left: 5000px; 
  }
  .visible-on-mobile {
    margin-left: 0px;
  }
}